body{
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho{
    text-align: center;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #cc0000;
    font-weight: bold;
    padding: 5px 10px;
    border: solid #ccc;
    border-radius: 5px;
}
.menu a:hover{
    background-color: #cc0000;
    color:#fff;
}
.conteudo{
    max-width: 900px;
    margin: auto;
    padding: 5px;
    border: 1px solid #ccc;
}
.tabela{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.tabela thead{
    background-color: #eee;
    font-weight: bold;
}
.tabela th, .tabela td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;

}
.form label, .form input, .form textarea, .form button{
    display: block;
    margin-bottom: 10px;
}
.form input[type="text"], .form input[type="tel"], .form input[type="email"], .form textarea, .form button{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.form button{
    background-color: #cc0000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.form button:hover{
    background-color: rgb(26, 255, 0);
    color: #ffffff;
}
.footer{
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 15px;
}
.grid-banda{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
@media screen and (min-width: 700px){
    .grid{
        grid-template-columns: repeat(3, 1fr)
    }
}